# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Data
data/
*.csv
*.parquet
*.json
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo
